name: CI Backend

on:
  push:
    branches: [main]
    paths: [backend/**]
  pull_request:
    branches: [main]
    paths: [backend/**]

jobs:
  ci:
    uses: emilgruzalski/gh-reusable-workflows/.github/workflows/ci-py.yml@v1
    with:
      working-directory: backend
      image-name: ghcr.io/${{ github.repository }}-backend
      dockerfile: ./backend/Dockerfile
      context: ./backend
      push: ${{ github.event_name == 'push' && github.ref == 'refs/heads/main' }}
      python-version-file: ./backend/pyproject.toml
    permissions:
      contents: write
      packages: write
      security-events: write
      id-token: write
