name: CI Frontend

on:
  push:
    branches: [main]
    paths: [frontend/**]
  pull_request:
    branches: [main]
    paths: [frontend/**]

jobs:
  ci:
    uses: emilgruzalski/gh-reusable-workflows/.github/workflows/ci-node.yml@v1
    with:
      working-directory: frontend
      image-name: ghcr.io/${{ github.repository }}-frontend
      dockerfile: ./Dockerfile
      context: ./frontend
      push: ${{ github.event_name == 'push' && github.ref == 'refs/heads/main' }}
    permissions:
      contents: write
      packages: write
      security-events: write
      id-token: write
